
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Inicio</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="resources/catedraticos.css" rel="stylesheet">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <h1 class="text-light"> &nbsp Acerca de Catedráticos</h1>
       
        &nbsp&nbsp
        &nbsp&nbsp
        &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp
        <h3>Nombre del Catedrático:  &nbsp &nbsp &nbsp &nbsp</h3>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Nombre" aria-label="Search">
            &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp<button class="btn btn-dark my-2 my-sm-0 text-center" type="submit">Buscar</button>
          </form>

          &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp 


        <a class="btn btn-primary my-2 my-sm-0" href="/home" role="button">Regresar</a></p>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        </div>
      </nav>
    </header>

    <main role="main">
        <br><br><br>
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <center><svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/>
                  </svg></center>
                <div class="card-body">
                  <h5 class="card-title">Nombre del Catedrático</h5>
                  <p class="card-text">Mensaje</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Curso que da</li>
                  <li class="list-group-item">Usuario</li>
                  <li class="list-group-item">Fecha</li>
                </ul>
              </div>
              </div>
</html>
