
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Inicio</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="resources/nuevapublicacion.css" rel="stylesheet">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <h1 class="text-light"> &nbsp &nbsp &nbsp Nueva Publicaci칩n</h1>
        &nbsp &nbsp &nbsp 
        &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp
        &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp

       
        &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp

        &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp
          
          &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp


        <a class="btn btn-primary my-2 my-sm-0" href="/home" role="button">Regresar</a></p>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        </div>
      </nav>
    </header>

    <main role="main">

        <br><br><br>
        <form class="form-signin text-center shadow-lg p-3 mb-5">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Tipo de publicaci칩n</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Curso</option>
                  <option>Catedr치tico</option>
                </select>
              </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Curso Disponible / Catedr치tico</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>IPC1</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Mensaje: </label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <br><br>
           <center> <button class="btn btn-lg btn-sec btn-block" type="submit"><a href="/home" class="nounderline text-white">Publicar</a></button></center>
          </form>
</html>
